* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sigmar One', cursive;
    /* border: red dotted 1px; */
}

body {
    padding-top: 60px;
}


.flexed {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.column {
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 5px 15px 5px;
}

.container {
    background-image: linear-gradient(to bottom left, rgb(0, 255, 255, 0.2), rgb(255, 255, 0, 0.2));
    height: 800px;
    width: 800px;
    margin: 0 auto;
    border-radius: 25%;
}

.head {
    justify-content: center;
}

h1 {
    margin: 30px 0px 50px 0;
    font-size: 44px;
    border-bottom: rgb(255, 155, 0, 0.3) ridge 3px;
}

.calculator {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right,gray, black 1%, gray);
    box-shadow: 1px 3px 35px 1px rgb(0, 0, 0, .9), 2px 6px 50px 2px rgb(0, 0, 0, .95);
    border-radius: 5%;
    
    
}

.outputBox {
    width: 350px;
    height: 80px;
    margin-top: 30px;
    background-color: black;
    justify-content: flex-end;
}

#output {
    font-size: 40px;
    color: yellow;
    padding: 20px;
    max-width: 350px;
    word-wrap: calc();
}

button {
    width: 90px;
    height: 50px;
    font-size: 36px;
    border-radius: 25%;
    font-weight: bold;
    font-family: monospace;
}

.orange{
    background-color: rgb(230, 150, 50);
}

#c {
    width: 186px;
}
